body {
    padding-top: 200px;
    color: #5a5a5a;
    
}
.main {
    background: none; 
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 80px;

}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555;
    margin-bottom: 0;
}

form {
    margin-top: 60px;
}
/* CUSTOMIZE THE NAVBAR

-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
    width:100%;
}

.navbar-wrapper .navbar .container {

    width: auto;
    background-color:  #191919;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

/* FOOTER
-------------------------------------------------- */
footer{
    position:relative;
    top:315px;
}
.site-footer-bottom,  .site-footer a {
    background-color: #191919;
    color: #87868c;      
}

.display {
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}
.dispi {
    display: inline;
}
